src/SupplierPortal.5.0.0/Web.SupplierPortal.5.0.0/Web References/EncryptDencryptService/EncryptDencryptService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EncryptDencrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isEncrypt" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptDencryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptDencryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EncryptDencryptSoapIn">
    <wsdl:part name="parameters" element="tns:EncryptDencrypt" />
  </wsdl:message>
  <wsdl:message name="EncryptDencryptSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptDencryptResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptDencryptHttpGetIn">
    <wsdl:part name="input" type="s:string" />
    <wsdl:part name="isEncrypt" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EncryptDencryptHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EncryptDencryptHttpPostIn">
    <wsdl:part name="input" type="s:string" />
    <wsdl:part name="isEncrypt" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EncryptDencryptHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="EncryptDencryptServiceSoap">
    <wsdl:operation name="EncryptDencrypt">
      <wsdl:input message="tns:EncryptDencryptSoapIn" />
      <wsdl:output message="tns:EncryptDencryptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EncryptDencryptServiceHttpGet">
    <wsdl:operation name="EncryptDencrypt">
      <wsdl:input message="tns:EncryptDencryptHttpGetIn" />
      <wsdl:output message="tns:EncryptDencryptHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EncryptDencryptServiceHttpPost">
    <wsdl:operation name="EncryptDencrypt">
      <wsdl:input message="tns:EncryptDencryptHttpPostIn" />
      <wsdl:output message="tns:EncryptDencryptHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EncryptDencryptServiceSoap" type="tns:EncryptDencryptServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EncryptDencrypt">
      <soap:operation soapAction="http://tempuri.org/EncryptDencrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EncryptDencryptServiceSoap12" type="tns:EncryptDencryptServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EncryptDencrypt">
      <soap12:operation soapAction="http://tempuri.org/EncryptDencrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EncryptDencryptServiceHttpGet" type="tns:EncryptDencryptServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="EncryptDencrypt">
      <http:operation location="/EncryptDencrypt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EncryptDencryptServiceHttpPost" type="tns:EncryptDencryptServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="EncryptDencrypt">
      <http:operation location="/EncryptDencrypt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EncryptDencryptService">
    <wsdl:port name="EncryptDencryptServiceSoap" binding="tns:EncryptDencryptServiceSoap">
      <soap:address location="http://ws.sih.cq.cn/SIHWEBSERVICE/EncryptDencrypt/EncryptDencryptService.asmx" />
    </wsdl:port>
    <wsdl:port name="EncryptDencryptServiceSoap12" binding="tns:EncryptDencryptServiceSoap12">
      <soap12:address location="http://ws.sih.cq.cn/SIHWEBSERVICE/EncryptDencrypt/EncryptDencryptService.asmx" />
    </wsdl:port>
    <wsdl:port name="EncryptDencryptServiceHttpGet" binding="tns:EncryptDencryptServiceHttpGet">
      <http:address location="http://ws.sih.cq.cn/SIHWEBSERVICE/EncryptDencrypt/EncryptDencryptService.asmx" />
    </wsdl:port>
    <wsdl:port name="EncryptDencryptServiceHttpPost" binding="tns:EncryptDencryptServiceHttpPost">
      <http:address location="http://ws.sih.cq.cn/SIHWEBSERVICE/EncryptDencrypt/EncryptDencryptService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>