src/Core.5.0.0/Service/Web References/SendMail/SendMail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strReceiver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendEmailAndUpAttachments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCEmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachments" type="tns:ArrayOfUpAttachments" />
            <s:element minOccurs="1" maxOccurs="1" name="onebyone" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="senderNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUpAttachments">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UpAttachments" nillable="true" type="tns:UpAttachments" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UpAttachments">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileContent" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendEmailAndUpAttachmentsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SecurityHeader" type="tns:SecurityHeader" />
      <s:complexType name="SecurityHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SendEmailAndAttachments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCEmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachments" type="tns:ArrayOfUpAttachments" />
            <s:element minOccurs="1" maxOccurs="1" name="onebyone" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailAndAttachmentsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailAndUpAttachmentsSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailAndUpAttachments" />
  </wsdl:message>
  <wsdl:message name="SendEmailAndUpAttachmentsSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailAndUpAttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailAndUpAttachmentsSecurityHeader">
    <wsdl:part name="SecurityHeader" element="tns:SecurityHeader" />
  </wsdl:message>
  <wsdl:message name="SendEmailAndAttachmentsSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailAndAttachments" />
  </wsdl:message>
  <wsdl:message name="SendEmailAndAttachmentsSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailAndAttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailAndAttachmentsSecurityHeader">
    <wsdl:part name="SecurityHeader" element="tns:SecurityHeader" />
  </wsdl:message>
  <wsdl:message name="SendEmailHttpGetIn">
    <wsdl:part name="strReceiver" type="s:string" />
    <wsdl:part name="strSubject" type="s:string" />
    <wsdl:part name="strContent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEmailHttpGetOut" />
  <wsdl:message name="SendEmailHttpPostIn">
    <wsdl:part name="strReceiver" type="s:string" />
    <wsdl:part name="strSubject" type="s:string" />
    <wsdl:part name="strContent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEmailHttpPostOut" />
  <wsdl:portType name="SendMailV2Soap">
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailAndUpAttachments">
      <wsdl:input message="tns:SendEmailAndUpAttachmentsSoapIn" />
      <wsdl:output message="tns:SendEmailAndUpAttachmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailAndAttachments">
      <wsdl:input message="tns:SendEmailAndAttachmentsSoapIn" />
      <wsdl:output message="tns:SendEmailAndAttachmentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendMailV2HttpGet">
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailHttpGetIn" />
      <wsdl:output message="tns:SendEmailHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendMailV2HttpPost">
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailHttpPostIn" />
      <wsdl:output message="tns:SendEmailHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendMailV2Soap" type="tns:SendMailV2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailAndUpAttachments">
      <soap:operation soapAction="http://tempuri.org/SendEmailAndUpAttachments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendEmailAndUpAttachmentsSecurityHeader" part="SecurityHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailAndAttachments">
      <soap:operation soapAction="http://tempuri.org/SendEmailAndAttachments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendEmailAndAttachmentsSecurityHeader" part="SecurityHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendMailV2Soap12" type="tns:SendMailV2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailAndUpAttachments">
      <soap12:operation soapAction="http://tempuri.org/SendEmailAndUpAttachments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendEmailAndUpAttachmentsSecurityHeader" part="SecurityHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailAndAttachments">
      <soap12:operation soapAction="http://tempuri.org/SendEmailAndAttachments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendEmailAndAttachmentsSecurityHeader" part="SecurityHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendMailV2HttpGet" type="tns:SendMailV2HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendEmail">
      <http:operation location="/SendEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendMailV2HttpPost" type="tns:SendMailV2HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendEmail">
      <http:operation location="/SendEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendMailV2">
    <wsdl:port name="SendMailV2Soap" binding="tns:SendMailV2Soap">
      <soap:address location="http://10.86.128.72/SIHWEBSERVICE/SendMail/SendMail.asmx" />
    </wsdl:port>
    <wsdl:port name="SendMailV2Soap12" binding="tns:SendMailV2Soap12">
      <soap12:address location="http://10.86.128.72/SIHWEBSERVICE/SendMail/SendMail.asmx" />
    </wsdl:port>
    <wsdl:port name="SendMailV2HttpGet" binding="tns:SendMailV2HttpGet">
      <http:address location="http://10.86.128.72/SIHWEBSERVICE/SendMail/SendMail.asmx" />
    </wsdl:port>
    <wsdl:port name="SendMailV2HttpPost" binding="tns:SendMailV2HttpPost">
      <http:address location="http://10.86.128.72/SIHWEBSERVICE/SendMail/SendMail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>